<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1><%= current_user.name %></h1>
      </section>
      <section class="appointment_form">
        <h3>Create an appointment</h3>
        <%= render 'shared/appointment_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Appointments</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <script type="text/javascript">
    var messages = '<%=escape_javascript alert_message %>';
    if (messages != '') {
      var formattedMessages = messages.replace(new RegExp('_', 'g'), '\n');
      alert(formattedMessages);
    }
    setTimeout(function(){
      window.location.reload(1);
    }, 5 * 60 * 1000);
  </script>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to InTime</h1>
    <h2>
      Appointment Management for InTouch Health
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("intouch_logo.png", alt: "in touch logo"),
              'http://www.intouchhealth.com/' %>
<% end %>


