<%= form_for(@appointment, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description %>
    
    <%= f.label :start_time, "Starts:" %>
    <%= f.datetime_field :start_time %>
    
    <%= f.label :end_time, "Ends:" %>
    <%= f.datetime_field :end_time %>

  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

