<li id="appointment-<%= appointment.id %>">
  
  <span class="description">
    <% d = appointment.user.name + " | " + appointment.description %>
    <% s = appointment.start_time %>
    <% e = appointment.end_time %>
    <% t = Time.now %>
    <% if t > s && t < e %>
    <% d += ' - IN PROGRESS' %>
    <% end %>
    <% if t > e %>
    <% d += ' - PAST' %>
    <% end %>
    <%= d %>
  </span>
  
  <span class="details">
    <span class="detail-items">
      Starts: <%= appointment.start_time.strftime("%A, %B %d, %Y at %l:%M%p") %>
    </span>
    <span class="detail-items">
      Ends: <%= appointment.end_time.strftime("%A, %B %d, %Y at %l:%M%p") %>
    </span>
  </span>
  
  <span class="comments">
    <% @comment = appointment.comments.build %>
    <% @comment_feed_items = appointment.comment_feed %>
    <%= render 'shared/comment_feed' %>
    <%= form_for(@comment, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :id, value: appointment.id %>
      <%= f.text_field :content, placeholder: " Write a comment...", class: "comment-input" %>
      <%= f.submit "Post comment", class: "btn btn-primary comment-btn" %>
    <% end %>
  </span>
  
  <span>
    <% if current_user?(appointment.user) %>
      <%= link_to "edit appointment", edit_appointment_path(appointment) %> | 
      <%= link_to "delete appointment", appointment, method: :delete,
                                         data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>