<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("intouch_logo.png", alt: "in touch logo"),
              root_path, id: "logo" %>
    <nav id="login-logout">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: "delete" %>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>